body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1{
  margin:50px auto 0 auto;


  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #665A48;


}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #665A48;
  font-weight: normal;
  padding-bottom:10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#9F8772;
}

a{
  color:#9F8772;
}

hr{
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width:5px;
  width:10%;
  margin: 50px auto;
}

p{
  line-height: 2;
}

.top-container{
  background-color: #EDE4E0;
  position:relative;
  padding-top: 100px;


}

.middle-container{
  background-color: #C8DBBE;
  position:relative;
  padding:50px 0;

}
.skill-row{
  width: 50%;
  margin:50px auto 80px auto;
  text-align: left;



}


.contact-me{
  padding-bottom: 20px;
}


.profile-picture{
  border-radius:50%;
  width: 250px;
}
.computer-image{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.flower-image{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.bottom-container{
  background-color: #665A48;
  position:relative;
  padding-top:10px;
}

.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
  width: 150px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom:300px;

}

.mountain-image{
  margin:0;
}

.contact-me{

}

.end-label{
  color: #EAF6F6;
  font-size: 0.7rem;
}


.footer-link{
  margin: 20px;
  text-decoration:none;
}

a:hover{
  color: #EDE4E0;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #9F8772;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 300px;
}

.btn:hover {
  background: #917a69;
  text-decoration: none;
}
